# dependencies
node_modules/
client/node_modules/
server/node_modules/
dist/
client/dist/
server/dist/

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# coverage
coverage/

# temp
*.tmp
*.temp